# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: fb2857491d47aa0412790f41a75dc087a4d1753d9b83f8ca2d24199b0394606c8a6eb31a4b994cff3de21f7d4ba6a39d27714574db58dd484a7e1de06098114d

test:
  secret_key_base: 3ed6b41f1f8e7ce8bb70d026323bfcaea5257cbec548e7a1371f59e09c32e7abd044c30ef906bf0141a1b02cce5b6c7a2e4bae3dd6c0ed5109d01a47a92378e6

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
